
@{
    ViewBag.Title = "Index";
}

<section id="banner">
    <div class="inner">
        <h1>
            HAFTANIN 11'ini seçmek istermisin? <span>
    <br />
    @OyuncuTabani.Resources.HomeTexts.Yazi3
</span>
        </h1>
        <ul class="actions">
            <li><a href="#" class="button alt">@OyuncuTabani.Resources.HomeTexts.Basla</a></li>
        </ul>
    </div>
</section>
